@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root{
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #0191b3;
    --first-color-2: #00819e;
    --first-color-yellow: #f1d302ff;
    --first-color-yellow-red: #ffbf46ff;
    --first-color-light-blue: #94c5ccff;
    --second-color: #235789ff;
    --second-color-2: #525157;
    
    --white: white;
    --white-color: #F7F6FB;
    --white-color-2: #eef5f9;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;

    --light-blue: #94c5ccff;
    --cultured: #f8f8f8ff;
    --red-pigment: #ed1c24ff;
    --baby-powder: #fdfffcff;
    --bdazzled-blue: #0191b3;
    --safety-yellow: #f1d302ff;
    --maximum-yellow-red: #ffbf46ff;
    --black: #020100ff;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: var(--first-color);
}
::-webkit-scrollbar-thumb{
    background: #d3d3d3;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
    background: #acacac;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}
body{
    /* background-image: url("../img/logo2.png");
    background-repeat: no-repeat;
    background-position:50vh; */
    font-family: var(--body-font) !important;
    font-size: var(--normal-font-size) !important;
    background-color: var(--white-color-2);
}
footer{
    background-color: var(--white);
}
.bg-first-color{
    background-color: var(--first-color);
}
.text-first-color{
    color: var(--first-color);
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center2{ 
    display: block !important;
    margin-right: auto;
    margin-left: auto;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.derecha{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.izquierda{
    display: flex;
    /* align-items: flex-start; */
    justify-content: start;
}
.hidden{
    display: none;
}
.block{
    display: block;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.static{
    position: static;
}
.default{
    color: #fff !important;
    font-family: Montserrat,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.cursor-default{
    cursor: default;
}
.pointer{
    cursor: pointer;
}
.pointer-hover:hover{
    cursor: pointer;
}
.underline-hover:hover{
    text-decoration: underline;
}

/* Botones  */
.btn-success{
    color: #fff;
    background-color: var(--first-color);
    border-color: var(--first-color);
}
.btn-success:hover{
    color: #fff;
    background-color: var(--first-color-2);
    border-color: var(--first-color-2);
}
.btn-success:disabled{
    color: #fff;
    background-color: var(--first-color);
    border-color: var(--first-color);
}
.btn-outline-success {
    color: var(--first-color);
    border-color: var(--first-color);
}
.btn-outline-success:hover {
    color: #fff;
    background-color: var(--first-color);
    border-color: var(--first-color);
}
.btn-secondary{
    color: #fff;
    background-color: var(--second-color-2);
    border-color: var(--second-color-2);
}
.btn-secondary:hover{
    color: #fff;
    background-color: #3c4146;
    border-color: #3c4146;
}
.btn-outline-secondary {
    color: var(--second-color-2);
    border-color: var(--second-color-2);
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: var(--second-color-2);
    border-color: var(--second-color-2);
}
.btn-warning{
    color: #000;
    background-color: var(--first-color-yellow);
    border-color: var(--first-color-yellow);
}
.btn-warning:hover{
    color: #000;
    background-color: #ffc720;
    border-color: #ffc720;
}
.btn-outline-warning {
    color: var(--first-color-yellow);
    border-color: var(--first-color-yellow);
}
.btn-outline-warning:hover {
    color: #000;
    background-color: var(--first-color-yellow);
    border-color: var(--first-color-yellow);
}
.paginate_button.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--first-color);
    border-color: var(--first-color);
}
.page-link{
    color: var(--first-color);
    background-color: #fff;
}
.page-link:hover{
    color: var(--first-color-2);
}
.pagination .next{
    padding: 0px !important;
    font-size: 1rem !important;
    opacity: 1 !important;
}
/* Botones  */

/* Formularios  */
input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}
.input-group{
    position: relative;
    --color: #5757577e;
}
.form-group{
    position: relative;
    --color: #5757577e;
}
.form-group p{
    position: relative;
    top: 0;
    left: 5px;
}
.form-input{
    color: var(--black);
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    margin-bottom: 24px;
}
.form-label{
    color: var(--color);
    cursor:text;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
    font-size: 1rem;
    z-index: 9;
}
.form-input:focus{
    box-shadow: none !important;
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;
    color: var(--first-color);
    position: absolute;
    bottom: 35px;
    font-size: 1.2rem;
}
.form-check{
    position: relative;
    top: 0;
    left: 5px;
}
/* Formularios  */

/* table  */
.table-wrap {
    overflow-x: scroll; 
}  
.table {
min-width: 1000px !important;
width: 100%;
background: #fff; }
.table thead.thead-primary {
    background: var(--first-color); }
.table thead th {
    border: none;
    padding: 18px 10px;
    font-size: 14px;
    color: #fff; }
.table tbody tr {
    margin-bottom: 10px; }
.table tbody th, .table tbody td {
    border: none;
    padding: 18px 10px; 
    border-bottom: 0px solid #f8f9fd;
    font-size: 14px; 
}
.table-modal{
    min-width: auto !important;
    overflow-y: auto;
}
.dataTables_wrapper .row{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* table  */

/* cards */
.card {
    border-radius: 0.70rem !important;
    border: 0 !important;
}
.card .card-header {
    background-color: #fff;
    padding: 0.75rem 3rem;
    border-bottom: 0 !important;
}
.card .card-header h3 {
    font-size: 1.25rem !important;   
    font-weight: 700;
}
.card .card-header h5 {
    font-weight: 700;
}


/* cards */

/* Filter  */
.filter-group {
    position: absolute;
}
.filter-icon {
    position: relative;
    top: 8px;
    left: 70px;
    margin-top: 7px;
}
.filter-icon i {
    font-size: 18px;
    opacity: 0.7;
}
/* Filter  */

/*Menú Vertical*/
.page-breadcrumb .breadcrumb .breadcrumb-item a {
    color: #1e88e5;
    font-size: 14px;
}
.page-breadcrumb .breadcrumb{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.breadcrumb-item-icon{
    font-size: inherit;
    color: #99abb4;
    line-height: 1.3 !important;
}
.breadcrumb-item.active{
    color: #99abb4;
    background-color: transparent;
}
.dropdown-menu{
    background-color: var(--first-color);
    /* opacity: 0.8; */
}
.dropdown-menu a:hover{
    color: var(--first-color-yellow) !important;
}
.dropdown-menu h6{
    color: var(--first-color-yellow) !important;
}
/*Menú Vertical*/

/*Home*/
/* To do list  */
.list-integrantes > li{
    border-radius: 2px;
    background-color: #f8f9fa;
    border-left: 2px solid #e9ecef;
    color: #495057;
    margin-bottom: 2px;
    padding: 10px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}
.todo-list > li{
    border-radius: 2px;
    background-color: #f8f9fa;
    border-left: 2px solid #e9ecef;
    color: #495057;
    margin-bottom: 2px;
    padding: 10px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}
.todo-list > li:hover{
    background-color: var(--first-color-light-blue);
}
.todo-list .handle{
    cursor: move;
    display: inline-block;
    margin: 0 5px;
}
.todoCheck{
    margin-right: 12px;
}

/* small boxes  */
.small-boxes .bg-info, 
.small-boxes .bg-success, 
.small-boxes .bg-danger, 
.small-boxes .bg-first-color{
    color: white;
}
.small-boxes .bg-warning a{
    color: black;
}
.small-boxes .bg-info, 
.small-boxes .bg-success, 
.small-boxes .bg-danger, 
.small-boxes .bg-first-color,
.small-boxes .bg-warning{
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    display: block;
    margin-bottom: 20px;
    position: relative;
}
@media screen and (max-width: 767.98px){
    .small-boxes p {
        font-size: 12px;
    }  
}
.small-boxes h3{
    font-size: 2.2rem;
    font-weight: 800;
    margin: 0 0 10px;
    white-space: nowrap;
}
.small-boxes .icon{
    color: rgba(0,0,0,.15);
    z-index: 0;
    position: relative;
}
.small-boxes .icon i{
    font-size: 90px;
    position: absolute;
    right: 15px;
    bottom: 20px;
    transition: .4s;
}
.small-boxes:hover .icon i{
    transform: scale(1.1);   
}
.small-boxes .small-box-footer{
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: flex;
    padding: 8px;
    position: relative;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    z-index: 10;
    line-height: 1;
}
.small-boxes .small-box-footer:hover{
    background-color: rgba(0,0,0,.15);
}
.small-boxes .small-box-footer:hover i{
    transform: scale(1.1);   
}
.small-boxes .small-box-footer i{
    font-size: 1.05rem;
    margin-left: 8px;
}
/*Home*/

/* Login */
.rowLogin{
    /* width: 100vw; */
    height: 69.7vh;
    margin: 0;
}
/* Login  */

/* Cuenta  */
.avatar{
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.avatar img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
#avatar-link{
    position: absolute;
    background-color: rgb(0, 0, 0,0.3);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    display: none;   
    border-radius: 100%;
    overflow: hidden;
    z-index: 1;
}
#avatar-link #avatar-pencil{
    z-index: 1;
    font-size: 2rem;
    position: absolute;
    color: var(--first-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.avatar:hover{
    cursor: pointer;
}
/* Cuenta  */

/* Grupo Familiar  */
.tabla_resultado{
    position: relative;
    bottom: 23.5px;
    border-radius: 2px;
    list-style: none;
}
.tabla_resultado:hover{
    background-color: var(--first-color-light-blue);
}
#tabla_exito{
    position: relative;
    bottom: 23px;
    color: var(--white-color);    
    width: 100%;
    padding: 10px; 
    margin: 0;
    background-color: var(--first-color-2);
    border-radius: 2px;
}
/* Grupo Familiar  */

/* Reportes  */
.report{
    border-bottom: 1px solid #5757577e;
}
.report .report-header{
    position: relative;
    padding: 24px 110px 0 0;
}
.report-header h4{
    font-weight: bold;
    font-style: italic;
}
.report-header button{
    position: absolute;
    top: 20px;
    right: 6px;
    min-width: 80px;
}
/* Reportes  */

/* Notificaciones  */
.notificaciones{
    color: var(--first-color);
    position: relative;
    margin: 0 1.5rem;
}
.notificaciones:hover{
    color: var(--first-color-2);
}
.notificaciones i{
    font-size: 1.2em;
    cursor: pointer;
}
.notificaciones_region{
    display: flex;
    flex-flow: column wrap;
    opacity: 1;
    visibility: visible;
    position: absolute;
    right: 0;
    top: 41px;
    height: 350px;
    width: 380px;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 1;
    display: none;
}
.notificaciones_region .region_header{
    height: 50px;
    padding: 11px 20px 15px;
    border-bottom: 1px solid rgba(120,130,140,.13);
}
.notificaciones_region .region_content{
    height: calc(100% - 50px);
    width: 100%;
    padding: 11px 20px 15px;
    overflow-y: auto;
    scrollbar-color:  transparent transparent;
}
.notificaciones_region .region_footer{
    height: 50px;
    padding: 15px 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 0 -1px;
    z-index: 1;
}
.notificaciones_region .region_content .todas_notificaciones a,
.noti-header a{
    color: #0d6efd !important;
}
.notificaciones_region .region_content .todas_notificaciones a:hover,
.noti-header a:hover{
    color: #0a58ca !important;
}
.region_footer_link{
    text-decoration: none;
}
.region_footer_link:hover{
    text-decoration: underline;
}
.notificaciones .notificaciones_badge{
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
}
.notificaciones-area{
    display: flex;
    flex-flow: row nowrap;
    height: 500px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px solid #e3e3e3;
}
.notificaciones-area .control-area{
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    scrollbar-color:  transparent transparent;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid #e3e3e3;
}
.notificaciones-area .content-area{
    box-sizing: border-box;
}
.control-area .empty-text{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.content-area .empty-text{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.region_content::-webkit-scrollbar, .control-area::-webkit-scrollbar, .content-area::-webkit-scrollbar{
    width: 0 !important;
    display: none;
}
/* .empty-text{
    display: none;
} */
/* Notificaciones  */


/* title  */
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-family: var(--body-font);
    position: absolute;
    padding: 3px 10px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
[data-title] {
    position: relative;
}
/* title  */

.table-tools{
    display: flex;
    justify-content: space-between;
}   

@media screen and (max-width: 992px){
    .table-tools{
        display: flex;
        flex-direction: column;
    }    
}

@media screen and (max-width: 768px){
    .notificaciones_region{
        position: absolute;
        right: -21px;
        top: 41px;
        width: 280px;
    }
}

@media screen and (max-width: 450px){
    .notificaciones_region{
        position: absolute;
        right: -10px;
        top: 41px;
        width: 220px;
    }
    .todas_notificaciones, .todas_notificaciones span, .todas_notificaciones p{
        font-size: 0.8rem;
    }
    .empty_message{
        font-size: 0.8rem;
    }
    .card-header > div > h5{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .form-label{
        font-size: 1rem !important;
        /* transform: translateY(10px) !important; */
    }
    .form-input:focus + .form-label,
    .form-input:not(:placeholder-shown) + .form-label{
        font-size: 1.2rem !important;
    }
}

@media screen and (min-width: 320px){
    .form-label{
        font-size: 0.8rem;
        transform: translateY(15px);
    }
    .form-input:focus + .form-label,
    .form-input:not(:placeholder-shown) + .form-label{
        font-size: 1rem;
    }    
}